body, html{
    padding:0px;
    margin:0;
    box-sizing: border-box;
    font-family: TT Travels, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.bgwrapper {
    padding: 16px;
    width: 100%;
    height: 100vh;
    z-index: -20;
    position: fixed;
    box-sizing: border-box;
}

@media (max-width: 640px) {
    .bgwrapper {
        padding: 0px;
    }
}

.bgrect {
    background-color: #E9EBF0;
    border-radius: 18px;
    width: 100%;
    height: 100%;
}

@media (max-width: 640px) {
    .bgrect {
        border-radius: 0px;
    }
}

.filltop {
    width: 100%;
    height: 16px;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 999;
}

@media (max-width: 640px) {
    .filltop {
        height: 8px;
        display: none;
    }
}

.fillbottom {
    width: 100%;
    height: 16px;
    background-color: white;
    position: fixed;
    bottom: 0px;
    z-index: 999;

}

@media (max-width: 640px) {
    .fillbottom {
        height: 8px;
        display: none;
    }
}

@media (max-width:640px) {
    header {
        display: none;
    }
}

.header-mob {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% + -16px);
    transition: all .3s ease;
    display: flex;
    padding: 12px;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background: white;
    border-radius: 16px;
    margin: 8px;
    z-index: 20;
    flex-direction: column;
}

@media(min-width: 640px) {
    .header-mob {
        display: none;
    }
}
.header-mob.out {
	transform: translateY(-66px);
}

.nav-mob {
    display: flex;
}

footer {

}

@media (max-width:640px) {
    footer {
        display: none;
    }
}

.container {
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    max-width: 1340px;
    margin: auto;
}

@media (max-width: 640px) {
    .container {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

.navigation {
    position: fixed;
    display: flex;
    height: 200px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: calc((100vh + -300px)/2);
    z-index: 100;
    list-style-type: none;
    padding-inline-start: 80px;
}

@media (max-width: 640px) {
    .navigation {
        display: none;
    }
}

.navigation-item:not(:last-child) {
    margin-bottom: 8px;
}

.contentwrapper {
    overflow: hidden;
}

.cardslist{
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: calc((100vh + -300px)/2);
    margin-bottom: calc((100vh + -900px)/2);
    padding-left: 15%;
    list-style-type: none;
}

@media (max-width: 640px) {
    .cardslist {
        margin-top: 0;
        margin-bottom: 64px;
        padding: 0px;
    }
}

.card {
    margin-bottom: 80px;
    width: 740px;
}

@media (max-width: 640px) {
    .card {
        width: 100%;
        margin-bottom: 40px;
    }
}

.cover {
    width: 740px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    background-color: blanchedalmond;
    box-sizing: border-box;
}

@media (min-width: 1600px) {
    .cover {
        width: 900px;
        height: 480px;
    }
}

@media (max-width: 640px) {
    .cover {
        width: 100%;
        height: px;
        border-radius: 16px;
    }
}

@media (max-width: 480px) {
    .cover {
        width: 100%;
        height: 240px;
        border-radius: 16px;
    }
}

@media (max-width: 360px) {
    .cover {
        width: 100%;
        height: 200px;
        border-radius: 16px;
    }
}

.cover-img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.portfolio-link {
    text-decoration: none;
}

.cardtitle {
    font-size: 40px;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ext-arrow {
    position: absolute;
    color: white;
    left: 20px;
    bottom: 20px;
    /*display: none;*/
    opacity: 0;
}

.card:hover .ext-arrow{
    /*display:block;*/
    opacity: 1;
    transition: opacity .3s;
    transition-timing-function: ease-in-out;
}

@media(max-width: 640px) {
    .ext-arrow {
        position: absolute;
        color: white;
        left: 20px;
        bottom: 20px;
        opacity: 100;
    }
}

.logo {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 20;
}

.logo-mob {
    width: 34px;
    height: 34px;
}

.email {
    position: fixed;
    top: 40px;
    right: 48px;
}

@media (max-width: 640px) {
    .email {
        display: none;
    }
}

.linksleft {
    display: flex;
    position: fixed;
    bottom: 40px;
    left: 40px;
    z-index: 100;
}

.icontext {
    display: flex;
    align-items: flex-start;
}

.icon {
    width: 21px;
    height: 21px;
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

.behance {
    margin-right: 20px;
}

.tg {
   position: fixed;
   bottom: 40px;
   right: 48px;
}

.link {
    color: black;
    text-decoration: none;
    z-index: 20;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.link:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    transition: border-bottom 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.link.active {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.icon-link {
    color: black;
    text-decoration: none;
    z-index: 20;
}

.icon-link:hover .link {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    transition: border-bottom 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.download {
    background: url(/icons/download-icon.svg) no-repeat 0 5px;
    padding-left: 15px;    
}

.big-text {
    font-size: 110px;
    margin-top: -16px;
}

.heading {
    margin-top: 100px;
    margin-bottom: 40px;
}

@media (min-width: 640px) {
    .heading {
        display: none;
    }
}

h1 {
    font-size: 80px;
    line-height: 100%;
    font-weight: 400;
    margin: 0 0 8px 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h3 {
    font-size: 48px;
    line-height: 100%;
    font-weight: 400;
    margin: 20px 0 8px 0;
    text-decoration: none;
    color: black;
}

@media (max-width: 640px) {
    h3 {
        font-size: 32px;
        margin: 12px 0 8px 0;
    }
}

.portfolio-link:hover h3 {
 color: rgba(0, 0, 0, 0.7);
}

.smalltext {
    font-size: 12px;
    line-height: 100%;
    color: black;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    /* max-height: 100%; */
    overflow: hidden;

    /* transition-property: max-height;
    transition-duration: .3s; */
    
}

.wrapper-menu {
    
}

.menu.open {
    /* max-height: 100%; */
}
/*.portfolio-link:hover .cover {
    transform: scale(1.06);
    transition: transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
    transition-timing-function: cubic-bezier(.02,.75,.13,.89);
}*/

/*.card:hover {
    transform: scale(.97);
    transition: transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
}*/